.user-view {
  background-color: $color-white;
  max-width: 120rem;
  margin: 0 auto;
  min-height: 100vh;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  display: flex;

  @include respond(tab-port) {
    display: block;
  }

  @include respond(phone) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}
.user-view__menu {
  flex: 32rem 0 0;
  background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
  padding: 4rem 0;

  @include respond(tab-port) {
    padding: 2rem 0;
  }
}
.user-view__content {
  flex: 1;
  padding: 7rem 0;
}
.user-view__form-container {
  max-width: 68rem;
  margin: 0 auto;
  padding: 0 8rem;
}

.nav {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .nav {
    flex-direction: column;
  }
}
.nav--tours {
  flex: 0 1 40%;
}
@media only screen and (max-width: 62.5em) {
  .nav--tours {
    margin-bottom: 1.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .nav--tours {
    margin-bottom: 0;
  }
}
.nav--user {
  flex: 0 3 26%;
  justify-content: center;


  @include respond(tab-land) {
    display: none;
  }

  @include respond(tab-port) {
    display: none;
  }

  @include respond(phone) {
    display: none;
  }
}
.nav__el,
.nav__el:link,
.nav__el:visited {
  color: #f7f7f7;
  text-transform: uppercase;
  font-size: 1.6rem;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  transition: all 0.2s;
  font-weight: 400;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
.nav__el:hover,
.nav__el:active {
  transform: translateY(-2px);
  text-shadow: 0 0.7rem 1rem black;
}
.nav__el:not(:last-child) {
  margin-right: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .nav__el:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1.2rem;
  }
}
.nav__el:focus {
  outline: none;
}
.nav__el--cta {
  padding: 1rem 3rem;
  border-radius: 10rem;
  border: 1px solid currentColor !important;
  transition: all 0.3s;
}
.nav__el--cta:hover {
  background-color: #f7f7f7;
  color: #777;
  text-shadow: none;
  border-color: #f7f7f7;
}
.nav__search {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .nav__search {
    order: -1;
    margin-bottom: 1.2rem;
  }
}
.nav__search-btn {
  background: none;
  border: none;
  margin-right: 0.8rem;
  transform: translateY(1px);
}
.nav__search-btn svg {
  height: 2rem;
  width: 2rem;
  fill: #f7f7f7;
}
.nav__search-input {
  font-family: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #f7f7f7;
  padding-bottom: 3px;
  border-bottom: 1px solid #999;
  width: 18rem;
  transition: all 0.3s;
}
.nav__search-input::-webkit-input-placeholder {
  color: #999;
}
.nav__search-input:-ms-input-placeholder {
  color: #999;
}
.nav__search-input::-ms-input-placeholder {
  color: #999;
}
.nav__search-input::placeholder {
  color: #999;
}
.nav__search-input:focus {
  outline: none;
  width: 25rem;
  border-bottom: 1px solid currentColor;
}
.nav__user-img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.side-nav {
  list-style: none;

  @include respond(tab-port) {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.side-nav li {
  margin: 1rem 0;
  border-left: 0 solid $color-white;
  transition: all 0.3s;

  @include respond(tab-port) {
    border-left: none;
    width: 25%;
  }

  @include respond(phone) {
    margin: 0;
  }
}
.side-nav--active,
.side-nav li:hover {
  border-left: 6px solid $color-white !important;

  @include respond(tab-port) {
    // border-bottom: 4px solid $color-white !important;
    border-left: 0px solid $color-white !important;
  }
}
.side-nav--active a {
  transform: translateX(-3px);

  @include respond(tab-port) {
    // transform: translateX(0) translateY(-3px);
    transform: translateX(0) translateY(0);
  }
}
.side-nav a:link,
.side-nav a:visited {
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  color: $color-white;
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s;

  @include respond(tab-port) {
    display: block;
    text-align: center;
    font-size: 1.9rem;
  }

  @include respond(phone) {
    display: inline-block;
    font-size: 1.2rem;
  }
}
.side-nav a:hover,
.side-nav a:active {
  transform: translateX(3px);

  @include respond(tab-port) {
    // transform: translateY(-3px);
    transform: translateY(-3px);
  }

  @include respond(phone) {
    transform: translateY(0);
    // transform: translateY(-3px);
    font-weight: bold;
  }
}
.side-nav svg {
  height: 1.9rem;
  width: 1.9rem;
  fill: #f7f7f7;
  margin-right: 2rem;

  @include respond(tab-port) {
    display: none;
  }
}

.admin-nav {
  margin-top: 5.5rem;
}
.admin-nav__heading {
  margin: 0 5rem 1.5rem 4rem;
  padding-bottom: 3px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #f2f2f2;
  border-bottom: 1px solid currentColor;
}



.header1 {
  background-color: #444;
  padding: 0 5rem;
  height: 8rem;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 24px 21px -21px rgba(0,0,0,0.54);

  @include respond(tab-land) {
    flex-direction: column;

  }

  &__logo {
    order: -1;
  
    @include respond(tab-land) {
      order: 0;
      margin: 2.2rem;
    }

    & img {
      height: 3.5rem;
    }
  }
}

