.section {

  &-header {
    position: relative;
    height: 38vw;
    clip-path: polygon(0 0,
        100% 0,
        100% calc(100% - var(--section-rotate)),
        0 100%);
  }

  &-reviews {
    margin-top: calc(0px - var(--section-rotate));
    padding: calc(5rem + var(--section-rotate)) 0;
    position: relative;
    z-index: 1000;
    background: linear-gradient(to right bottom, #7dd56f, #28b487);
    clip-path: polygon(0 var(--section-rotate),
        100% 0,
        100% calc(100% - var(--section-rotate)),
        0 100%);
    -webkit-clip-path: polygon(0 var(--section-rotate),
        100% 0,
        100% calc(100% - var(--section-rotate)),
        0 100%);
  }

  &-description {
    background-color: #fcfcfc;
    margin-top: calc(0px - var(--section-rotate));
    display: flex;

    &>* {
      padding: 0 8vw;
      padding-top: 14vw;
      padding-bottom: calc(1vw + var(--section-rotate));
      flex: 0 0 50%;
    }
  }

  &-map {
    position: relative;
    height: 65rem;
    margin-top: calc(0px - var(--section-rotate));
  }

  &-pictures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    clip-path: polygon(0 var(--section-rotate),
        100% 0,
        100% calc(100% - var(--section-rotate)),
        0 100%);
    margin-top: calc(0px - var(--section-rotate));
    position: relative;
    z-index: 1000;
  }

  &-cta {
    margin-top: calc(0px - var(--section-rotate));
    padding: 3rem;
    padding-bottom: 11rem;
    padding-top: calc(15rem + var(--section-rotate));
    background-color: #f7f7f7;
  }

  &-about {
    background-color: $color-gray-light-1;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(tab-port) {
      padding: 20rem 0;
    }
  }

  &-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
      url(../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -11rem;

    // Applys to all direct childs of .section-features = .row only
    &>* {
      transform: skewY(7deg);
    }

    @include respond(tab-port) {
      padding: 10rem 0;
    }
  }

  &-tours {
    background-color: $color-gray-light-1;
    padding: 25rem 0 7.5rem 0;
    margin-top: -10rem;

    @include respond(tab-port) {
      padding: 20rem 0 3rem 0;
    }
  }

  &-stories {
    position: relative;
    padding: 15rem 0 1rem 0;

    @include respond(tab-port) {
      // padding: 10rem 0;
      padding: 10rem 0 1rem 0;
    }
  }

  &-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom,
        $color-primary-light,
        $color-primary-dark);

    @include respond(tab-port) {
      padding: 10rem 0;
    }
  }
}









// .book {
//   background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
//   background-size: cover;
//   box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
// }

// @include respond (tab-port) {
//   .book {
//     background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../img/nat-10.jpg);
//     background-size: cover;
//   }
// }

// @include respond (tab-port) {
//   .book {
//     background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/nat-10.jpg);
//   }
// }

// .book__form {
//   width: 50%;
//   padding: 6rem;
// }

// @include respond (tab-port) {
//   .book__form {
//     width: 65%;
//   }
// }

// @include respond (tab-port) {
//   .book__form {
//     width: 100%;
//   }
// }


// .book {
//   background-image: linear-gradient(105deg,
//       rgba($color-white, .9) 0%,
//       rgba($color-white, .9) 50%,
//       transparent 50%),
//     url(../img/nat-10.jpg);
//   background-size: cover;
//   box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

//   @include respond(tab-land) {
//     background-image: linear-gradient(105deg,
//         rgba($color-white, .9) 0%,
//         rgba($color-white, .9) 65%,
//         transparent 65%),
//       url(../img/nat-10.jpg);
//     background-size: cover;
//   }

//   @include respond(tab-port) {
//     background-image: linear-gradient(to right,
//         rgba($color-white, .9) 0%,
//         rgba($color-white, .9) 100%),
//       url(../img/nat-10.jpg);
//   }

//   &__form {
//     width: 50%;
//     padding: 6rem;

//     @include respond(tab-land) {
//       width: 65%;
//     }

//     @include respond(tab-port) {
//       width: 100%;
//     }
//   }
// }