.section-header {
  position: relative;
  height: 38vw;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );

  @include respond(phone) {
    height: 54vw;
  }

  @include respond(phone-small) {
    height: 80vw;
  }
}

.header__hero {
  height: 100%;
}

.header__hero-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: 50% 25%;
}

.header__hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
  opacity: 0.35;
}

.heading-box {
  position: absolute;
  bottom: 13vw;
  left: 50%;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.heading-box__group {
  color: #f7f7f7;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-box__detail {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
}
.heading-box__detail svg {
  margin-right: 0.8rem;
}
.heading-box__detail:not(:last-child) {
  margin-right: 4rem;
}
.heading-box__icon {
  height: 2rem;
  width: 2rem;
  fill: currentColor;
  filter: drop-shadow(0 0.75rem 0.5rem rgba(0, 0, 0, 0.25));
}














.section-description {
  background-color: #fcfcfc;
  margin-top: calc(0px - var(--section-rotate));
  display: flex;

  // @include respond(tab-port) {
  //   display: block;
  // }

  @include respond(phone) {
    display: block;
  }

  @include respond(phone-small) {
    display: block;
  }
}
.section-description > * {
  padding: 0 8vw;
  padding-top: 14vw;
  padding-bottom: calc(1vw + var(--section-rotate));
  flex: 0 0 50%;
}

.description-box .description {
  margin-right: 5rem;
}
.description-box .description__text {
  font-size: 1.7rem;
}
.description-box .description__text:not(:last-child) {
  margin-bottom: 2rem;
}

.overview-box {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
}
.overview-box__group:not(:last-child) {
  margin-bottom: 7rem;
}
.overview-box__detail {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  font-weight: 400;
}
.overview-box__detail svg {
  margin-right: 1.25rem;
}
.overview-box__detail:not(:last-child) {
  margin-bottom: 2.25rem;
}
.overview-box__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: #55c57a;
}
.overview-box__label {
  font-weight: 700;
  margin-right: 2.25rem;
  text-transform: uppercase;
  font-size: 1.4rem;
}
.overview-box__text {
  text-transform: capitalize;
}
.overview-box__img {
  border-radius: 50%;
  height: 3.5rem;
  margin-right: 1.25rem;
}

.section-pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  clip-path: polygon(
    0 var(--section-rotate),
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
  margin-top: calc(0px - var(--section-rotate));
  position: relative;
  z-index: 1000;
}

.picture-box__img {
  display: block;
  width: 100%;
  height: 110%;
  object-fit: cover;
}
.picture-box__img--1 {
  padding-top: 15%;
}
.picture-box__img--2 {
  padding-bottom: 15%;
}
.picture-box__img--3 {
  padding-bottom: 27%;
}

.section-map {
  position: relative;
  height: 65rem;
  margin-top: calc(0px - var(--section-rotate));
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.marker {
  background-image: url('../img/pin.png');
  background-size: cover;
  width: 32px;
  height: 40px;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 25rem;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 1.5rem !important;
  font-size: 1.4rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
}

.section-reviews {
  margin-top: calc(0px - var(--section-rotate));
  padding: calc(5rem + var(--section-rotate)) 0;
  position: relative;
  z-index: 1000;
  background: linear-gradient(to right bottom, #7dd56f, #28b487);
  clip-path: polygon(
    0 var(--section-rotate),
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
  -webkit-clip-path: polygon(
    0 var(--section-rotate),
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
}

.reviews {
  padding: 5rem 0;
  display: grid;
  grid-column-gap: 6rem;
  grid-auto-flow: column;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.reviews__card {
  width: 30rem;
  padding: 4rem;
  background-color: #f7f7f7;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews:before,
.reviews:after {
  content: '';
  width: 2rem;
}
.reviews__avatar {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.reviews__avatar-img {
  height: 4.5rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}
.reviews__user {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.reviews__text {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-style: italic;
  font-weight: 400;
}
.reviews__rating {
  margin-top: auto;
  display: flex;
}
.reviews__star {
  height: 2rem;
  width: 2rem;
  margin-right: 1px;
}
.reviews__star--active {
  fill: #55c57a;
}
.reviews__star--inactive {
  fill: #bbb;
}

.section-cta {
  margin-top: calc(0px - var(--section-rotate));
  padding: 3rem;
  padding-bottom: 11rem;
  padding-top: calc(15rem + var(--section-rotate));
  background-color: #f7f7f7;
}

.cta {
  position: relative;
  max-width: 105rem;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
  padding: 9rem 5rem 9rem 21rem;
  border-radius: 2rem;
  box-shadow: 0 3rem 8rem 0.5rem rgba(0, 0, 0, 0.15);
}
.cta__img {
  height: 15rem;
  width: 15rem;
  position: absolute;
  left: 0;
  top: 50%;
  border-radius: 50%;
  box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
}
.cta__img--logo {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right bottom, #7dd56f, #28b487);
  z-index: 10;
  transform: translate(-35%, -50%);
}
.cta__img--logo img {
  width: 100%;
}
.cta__img--1 {
  transform: translate(-10%, -50%) scale(0.97);
  z-index: 9;
}
.cta__img--2 {
  transform: translate(15%, -50%) scale(0.94);
  z-index: 8;
}
.cta__content {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr auto;
  grid-gap: 0.7rem;
  grid-auto-flow: column;
  align-items: center;
}
.cta__text {
  font-size: 1.9rem;
  font-weight: 400;
}