footer.footer
  .footer__logo
    img(src='/img/logo-green.png' alt='Natour logo')
  ul.footer__nav
    li: a(href='#') About us
    li: a(href='#') Download apps
    li: a(href='#') Become a guide
    li: a(href='#') Careers
    li: a(href='#') Contact
  a(href='https://github.com/Slashflex?tab=overview&from=2019-12-01&to=2019-12-28').footer__copyright.noUnderline &copy; by David Saoud