// Head
include partials/_head

  body(data-alert=`${alert ? alert : ''}`)
    // NAVIGATION
    include partials/_navigation

    // HEADER
    include partials/_header

    // CONTENT
    block content

    // FOOTER
    include partials/_footer

    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
    //- script(src='/js/mapbox.js')
    //- script(src='/js/login.js')
    //- script(src='https://js.stripe.com/v3/')
    //- script(src='/js/bundle.js')
    include partials/_scripts