extends base

block append head

block content
  main.main
    div.login-form
      h2.heading-secondary.u-center-text.ma-bt-lg Forgot your password?
      p.paragraph.u-center-text No worries! 
      p.paragraph Provide your email, and we will guide you through restoration process.
      form.form#passwordForgotForm
        div.form__group
          input#passwordForgotEmail.form__input(type='email', placeholder='email@example.com', required)
          label.form__label(for='email') Email address
        div.form__group.form__group--login
          button.btn.btn--green.login(style='display: block; margin: 0 auto') Send