extends base

block append head

block content
  main.main
    div.login-form
      h2.heading-secondary.u-center-text.ma-bt-lg Password reset form
      p.paragraph.u-center-text Please provide the token of the email you just received, as well as a new password and a confirmation password
      form.form#passwordResetForm(autocomplete="off")
        div.form__group
          input#passwordResetToken.form__input(type='text', placeholder='eyJhbGciOiJIUzI1NiIaG4gRG9lk6yJV_adQssw5c', required)
          label.form__label(for='token') Reset Token
        div.form__group.ma-bt-md
          input#newPassword.form__input(type='password', placeholder='Password', required, minlength='8')
          label.form__label(for='password') Password
        div.form__group.ma-bt-md
          input#newPasswordConfirm.form__input(type='password', placeholder='Password Confirmation', required, minlength='8')
          label.form__label(for='password') Confirm Password
        div.form__group.form__group--login
          button.btn.btn--green.login(style='display: block; margin: 0 auto') Reset password