extends base

block content
	main.main
		.login-form
			h2.heading-secondary.u-center-text.ma-bt-lg Create New Account
			form.form.form--signup(id="signup-form")
				.form__group
					input#name.form__input(type='text', placeholder='Full Name', required)
					label.form__label(for='name') Name	
				.form__group
					input#email.form__input(type='email', placeholder='you@example.com', required)
					label.form__label(for='email') Email address
				.form__group.ma-bt-md
					input#password.form__input(type='password', placeholder='Password', required, minlength='8')
					label.form__label(for='password') Password
				.form__group.ma-bt-md
					input#passwordConfirm.form__input(type='password', placeholder='Password confirmation', required, minlength='8')
					label.form__label(for='passwordConfirm') Password Confirmation
				.form__group
					button.btn.btn--green Sign Up
