//////////////////////////////////////////
//                FORMS
//////////////////////////////////////////

// LOGIN, SIGNUP & UPDATE SETTINGS
.login-form {
  margin: 0 auto;
  max-width: 55rem;
  background-color: $color-white;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba($color-black, 0.06);
  box-shadow: 0 2.5rem 8rem 2rem rgba($color-black, 0.06);
  padding: 5rem 7rem;
  border-radius: 5px;
}

.form {
  
  &__input1 {
    display: block;
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    padding: 1.25rem 1.75rem;
    border: none;
    width: 100%;
    background-color: $color-white;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: $color-gray-dark-3;
    font-weight: 400;

    &::-webkit-input-placeholder {
      color: $color-gray-dark-1;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary;

      &:invalid {
        border-bottom: 3px solid $color-secondary-dark;
      }
    }
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: $color-gray-dark-4;
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all .3s;
    color: $color-gray-dark-3;
    font-weight: 400;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary;

      &:invalid {
        border-bottom: 3px solid $color-secondary-dark;
      }
    }

    &::-webkit-input-placeholder {
      color: $color-gray-dark-3;
      font-weight: 300;
    }
  }

  &__input2 {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: $color-gray-subtle-1;
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all .3s;
    color: $color-gray-dark-1;
    font-weight: 400;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary;

      &:invalid {
        border-bottom: 3px solid $color-secondary-dark;
      }
    }

    &::-webkit-input-placeholder {
      color: $color-gray-dark-1;
      font-weight: 700;
    }
  }

  &__group:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  &__label {
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;

    color: $color-primary;
  }

  &__photo-upload {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.6rem;
  }

  &__user-photo {
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 50%;
    margin-right: 2rem;
  }

  &__upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    & + label {
      color: $color-primary;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $color-primary;
      padding: 3px;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      cursor: pointer;

      &:hover {
        background-color: $color-primary;
        color: $color-white;
        -webkit-box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
      }
    }

    &:focus + label {
      outline: 3px solid $color-primary;
      outline-offset: 3px;
    }
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__input1:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__input2:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: cover;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 65%,
        transparent 65%
      ),
      url(../img/nat-10.jpg);
    background-size: cover;
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 100%
      ),
      url(../img/nat-10.jpg);
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 65%,
        transparent 65%
      ),
      url(../img/nat-10.jpg);
    background-size: cover;
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 100%
      ),
      url(../img/nat-10.jpg);
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-port) {
      width: 65%;
    }

    @include respond(tab-port) {
      width: 100%;
    }
  }
}

